* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700px;
}

.colors {
    border: 1px solid black;
    max-width: 80%;
    margin: 10px auto;
}

.color-box {
    border: 1px solid red;
    width: 200px;
    height: 100px;
    display: inline-block;
    text-align: center;
    margin: 10px 6px;
} 

.dark-red {
    background-color: darkred;
}

.light-blue {
    background-color: lightsteelblue;
}

.dark-green {
    background-color: darkgreen;
}

.aqua-marine {
    background-color: aquamarine;
}

.cadet-blue {
    background-color: cadetblue;
}

.beige {
    background-color: beige;
}

.tan {
    background-color: tan;
}

.dark-orange {
    background-color: darkorange;
}

.pale-golden-rod {
    background-color: palegoldenrod;
}

.sandy-brown {
    background-color: sandybrown;
}